In [2]:
import pandas as pd
import os

In [7]:
files = [file for file in os.listdir(os.path.dirname(os.path.abspath(__file__))) if file.endswith(".csv")]

NameError: name '__file__' is not defined

In [3]:
df = pd.read_csv("WebAccess/004100.csv",encoding="CP932")

In [4]:
df['資料リンク'][:2].to_list(),

(['https://nskkogyo.sharepoint.com/:f:/s/kantou/EjElFuGt36dFrkA1VsXAqqsBW8EOVQIsLHxDHwZHCHIlFg?e=GakX3N',
  'https://nskkogyo.sharepoint.com/sites/kantou/_layouts/15/viewer.aspx?sourcedoc={23601f6a-266e-42eb-877a-9dbf8130d011}'],)

       案件番号
0    450717
1    452146
2    452366
3    459639
4    462312
..      ...
748  471919
749  473385
750  473316
751  475903
752  475458

[753 rows x 1 columns]